.App {
  /* width: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-page-container {
  background: #2c2c2c;
  width: 700px;
  padding: 20px;
}
.add-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 30px;
}
.list-item {
  width: 100%;
  background-color: #2c2c2c;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -6px -6px 6px 0 rgba(72, 72, 72, 0.45),
    6px 6px 6px 0 rgba(0, 0, 0, 0.4);
  transition: bottom 0.3s ease;
}

.user-page-container .input-group {
  width: 80%;
  margin-bottom: 0;
}

.user-page-container .add-btn {
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  outline: none;
  margin: 0 10px;
  opacity: 1;
  transform: opacity 0.3s ease-in-out;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  );
}

.add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn, .btn:active {
  outline: none;
  border: none;
}

.logout {
  background: red;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.logout:hover, .del:hover {
  background: rgba(255, 0, 0, 0.774);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.del {
  padding: 10px;
  height: 10px;
  width: 10px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  margin-left: auto;
  cursor: pointer;
}

.list-item {
  position: relative;
}

.list-item:hover {
  background: rgb(31, 29, 29);
}

.task {
  cursor: pointer;
}
.task:hover .tooltiptext{
  visibility: visible;
}

.green {
  background: #11998e4b
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.welcome-text {
  font-family: 'Concert One', cursive;
  font-size: 50px;
}

.img-container {
  height: 300px;
  width: 300px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 70px;
}

.home-link {
  padding: 10px;
}

.home-link:hover {
  border-radius: 7px;
  background: rgba(100, 70, 13, 0.5);
  color: brown;
}

.task .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  right: 20px;
  top: -10px;
  z-index: 1;
}